* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(21, 21, 21);
}

/* just a frame of reference */


.frame {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* navigation bar code */

.navBar {
    display: grid;
    width: 100%;
    height: 50 px;
    background-color: black;
    align-items: center;
    grid-template-areas: "title title subheaders";

}

.logo {
    flex: 1;
    color: red;
    font-family: OCR A std, monospace;
    padding: 20px;
    position: relative;
    bottom: 40px;
}

.register {
    position: relative;
    bottom: 40px;
    left: 150px;
    width: 100px;
    font-size: 20px;
}

.subheaders {
    font-size: 10px;
    flex: 5;
    color: white;
    display: flex;
    align-items: center;
    font-family: Comic Sans MS, Comic Sans, cursive;
    position: relative;
    bottom: 40px;

}

.register:hover {
    background-color: rgb(202, 202, 202);
}

.subheader-items {
    margin: 50px;
}

/* hero code */


.background-image {
    top: 50px;
    width: 100%;
    position: absolute;
    mask-image: linear-gradient(black, transparent);

}

.hero-title {
    width: max-content;
    position: relative;
    left: 40px;
    bottom: 60px;
    font-size: 50px;
    color: black;
    text-decoration: underline;
}


.hero-paragraph {
    width: 500px;
    position: relative;
    left: 50px;
    bottom: 50px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
}


/* login section code */

.input-text {
    color: white;
}

.login {
    bottom: 130px;
    position: relative;
    display: flex;
    width: 25%;
    height: 20%;
    padding: 10px;
    background-color: #1a1a1a;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(255, 75, 43, 0.3);
}

.login-button {
    background: linear-gradient(135deg, #ff416c, #ff4b2b);
    font-size: 20px;
    border-radius: 5px;
    width: 15%;
}

.login-button:hover {
    background: linear-gradient(135deg, #ff1f53, #ff2d08);
}

/* feature section code */

.images {
    display: flex;
    gap: 20px;
    position: relative;
    top: 200px;

}

.spider-man-btsv {
    width: 200px;
    border-radius: 10px;
}

.spider-man-btsv:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 10px rgba(255, 75, 43, 0.3);
}

.the-flash {
    width: 200px;
    border-radius: 10px;
}

.the-flash:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 10px rgba(255, 75, 43, 0.3);
}

.dr-stone {
    width: 200px;
    border-radius: 10px;
}

.dr-stone:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 10px rgba(255, 75, 43, 0.3);
}

.scissor-seven {
    width: 200px;
    border-radius: 10px;
}

.scissor-seven:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 10px rgba(255, 75, 43, 0.3);
}

.brooklyn-nine-nine {
    width: 200px;
    border-radius: 10px;
}

.brooklyn-nine-nine:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 10px rgba(255, 75, 43, 0.3);
}

.sonic-3 {
    width: 200px;
    border-radius: 10px;
}

.sonic-3:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 10px rgba(255, 75, 43, 0.3);
}


/* footer code */

.footer {
    display: flex;
    position: absolute;
    top: 1150px;
    width: 100%;
    height: 25px;
    background-color: black;
    justify-content: center;
    align-items: flex-end;
}

.footer-options {
    display: flex;
    position: absolute;
    bottom: 30px;
    gap: 30px;
    justify-items: center;
    right: 40%;

}


.footer-text {
    color: white;
    font-size: 15px;
}